[buildout]
extends = versions.cfg
parts = django mkdirs
develop = .
versions = versions
update-versions-file = versions.cfg
always-checkout = true
find-links =
    https://www.djangoproject.com/download/1.7c2/tarball/#egg=Django-1.7c2
    https://github.com/kaedroho/wagtail/archive/dj17_2.zip#egg=wagtail-0.4
eggs =
    ipython
    akl.lt

[django]
recipe = djangorecipe
projectegg = akl.lt
dotted-settings-path = akllt.settings.development
eggs = ${buildout:eggs}

[mkdirs]
recipe = z3c.recipe.mkdir
paths =
    var/www
