{% load trans from i18n %}
{% load static from staticfiles %}
{% load require_module from require %}
{% load compress from compress %}
{% load slugurl from wagtailcore_tags %}
{% load wagtailuserbar from wagtailuserbar %}
{% load top_menu from navtags %}
{% load sidebar_menu from navtags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Atviras Kodas Lietuvai" %}{% block title %}{% if page_title %}{% endif %} | {{ page_title }}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}">
    {% endcompress %}
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% require_module 'main' %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-row">
                {% if request.user.is_authenticated %}
                <strong>{{ user }}</strong> (<a href="{% url "account_logout" %}">{% trans "logout" %}</a>)
                {% else %}
                <a href="{% url "account_login" %}">{% trans "Sign in" %}</a>
                {% endif %}
                |
                <img src="{% static "images/LT_flag.png" %}">
                <img src="{% static "images/EN_flag.png" %}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header">
                <a href="{% slugurl "akl" %}">
                    <img src="{% static "images/logo.png" %}">
                </a>
                <div class="contacts">
                    <p><b>Asociacija "Atviras kodas Lietuvai"</b></p>
                    <p>P. Vileišio g. 18, 1 korp., LT-10306 Vilnius</p>
                    <p>Įm. kodas 195764579</p>
                    <p>El. paštas <a href="info@akl.lt">info@akl.lt</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 top-menu">
                {% top_menu %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-4 side-menu">
                {% block side-menu %}
                {% sidebar_menu %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer">
                <p>
                    Autorinės teisės © 2002—2010 Atviras kodas Lietuvai.
                    Svetainės turinys pateikiamas pagal <a href="http://www.gnu.org/copyleft/fdl.html">GNU FDL</a>
                    licenziją be invariantinių skyrių ir priekinio ar
                </p>
                <p>
                    užpakalinio viršelio tekstų. Visais klausimais kreipkitės:
                    <a href="info@akl.lt">info@akl.lt.</a>
                <p>
            </div>
        </div>
    </div>
    {% wagtailuserbar %}
</body>
</html>
