{% load trans from i18n %}
{% load static from staticfiles %}
{% load require_module from require %}

<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Atviras Kodas Lietuvai" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap-theme.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
    {% require_module 'js/main' %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">LOGO</div>
            <div class="col-md-4 contacts">
                <p><b>Asociacija "Atviras kodas Lietuvai"</b></p>
                <p>P. Vileišio g. 18, 1 korp., LT-10306 Vilnius</p>
                <p>Įm. kodas 195764579</p>
                <p>El. paštas <a href="info@akl.lt">info@akl.lt</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">top menu</div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-3">side menu</div>
        </div>
        <div class="row">
            <div class="col-md-12">footer</div>
        </div>
    </div>

</body>
</html>
