{% load trans from i18n %}
{% load static from staticfiles %}
{% load require_module from require %}
{% load compress from compress %}
{% load slugurl from wagtailcore_tags %}
{% load wagtailuserbar from wagtailuserbar %}

<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Atviras Kodas Lietuvai" %}{% block title %}{% if page_title %}{% endif %} | {{ page_title }}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}">
    {% endcompress %}
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% require_module 'main' %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-row">
                <img src="{% static "images/LT_flag.png" %}">
                <img src="{% static "images/EN_flag.png" %}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header">
                <a href="{% slugurl "naujienos" %}">
                    <img src="{% static "images/logo.png" %}">
                </a>
                <div class="contacts">
                    <p><b>Asociacija "Atviras kodas Lietuvai"</b></p>
                    <p>P. Vileišio g. 18, 1 korp., LT-10306 Vilnius</p>
                    <p>Įm. kodas 195764579</p>
                    <p>El. paštas <a href="info@akl.lt">info@akl.lt</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 top-menu">
                <ul class="nav nav-tabs">
                    <li><a href="naujienos">Naujienos</a></li>
                    <li><a href="apie">Apie AKL</a></li>
                    <li><a href="atviras_kodas">Atviras kodas</a></li>
                    <li><a href="programos">Programos</a></li>
                    <li><a href="nuorodos">Nuorodos</a></li>
                    <li><a href="wiki">Wiki</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-4 side-menu">
                {% block side-menu %}
                <ul class="nav nav-pills nav-stacked">
                <li><img src="{% static "images/akl-web-site/planet.png" %}">Blogerių Planeta</li>
                </ul>
                <div>
                <p><img src="{% static "images/akl-web-site/planet-item.png" %}"><a class="color" href="#">Mandriva 2009.1 pavasarinė diegynė</a></p>
                <p>Gruodžio 22, 2009</p>
                <p><img src="{% static "images/akl-web-site/planet-item.png" %}"><a href="#">Mandriva 2009.1 pavasarinė diegynė</a></p>
                <p>Gruodžio 22, 2009</p>
                <p><img src="{% static "images/akl-web-site/planet-item.png" %}"><a href="#">Mandriva 2009.1 pavasarinė diegynė</a></p>
                <p>Gruodžio 22, 2009</p>
                <p><img src="{% static "images/akl-web-site/planet-item.png" %}"><a href="#">Mandriva 2009.1 pavasarinė diegynė</a></p>
                <p>Gruodžio 22, 2009</p>
                <p><a>daugiau įrašų...</a></p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                <li><img src="{% static "images/akl-web-site/akpaslaugos.png" %}">Atviro kodo paslaugos</li>
                </ul>
                <div>
                <p>Čia rasite kompanijų, teikiančių atviro kodo <a href="#">programinės įrangos aptarnavimo</a>, <a href="#">diegimo</a>, <a href="#">programavimo</a> ir kitas paslaugas.</p>
                <p><a href="#">žiūrėti sąrašą...</a></p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                <li><img src="{% static "images/akl-web-site/akmokslui.png" %}">AK mokslui</li>
                </ul>
                <div>
                <img id="penguin-logo" src="{% static "images/akl-web-site/tux-education.png" %}"><p>Čia rasite švietimi tinkamų laisvų </p>
                <p>programų <a href="#">sąrašą</a>.</p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                <li><img src="{% static "images/akl-web-site/wiki.png" %}">Wiki</li>
                </ul>
                <div>
                <p>Atviro kodo dokumentacija, straipsniai, knygos, pranešimai ir kita.</p>
                <p><a href="#">eiti į Wiki...</a></p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                <li><img src="{% static "images/akl-web-site/bendraujame.png" %}">Bendraujame</li>
                </ul>
                <div>
                <p><img src="{% static "images/akl-web-site/mail.png" %}">Užsisakykite <a href="#">el. pašto konferenciją.</a></p>
                <p><img src="{% static "images/akl-web-site/chat.png" %}">Bendraukite atviro kodo <a href="#">forumuose.</a></p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                <li><img src="{% static "images/akl-web-site/akhostingas.png" %}">AK projektų hostingas</li>
                </ul>
                <div>
                <p>AKL teikia svetainių talpinimo savo serveriuose paslaugas <b>atviro kodo projektams.</b></p>
                <p><a href="#">plačiau...</a></p>
                </div>

                <div>
                <p><b>Sekite mūsų naujienas</b></p>
                <p><a href="#"><img src="{% static "images/akl-web-site/twitter.png" %}"></a><a href="#"><img src="{% static "images/akl-web-site/linkedin.png" %}"></a><a href="#"><img src="{% static "images/akl-web-site/facebook.png" %}"></a></p>
                </div>
                {% endblock %}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 footer">
            <p>Autorinės teisės © 2002—2010 Atviras kodas Lietuvai. Svetainės turinys pateikiamas pagal <a href="http://www.gnu.org/copyleft/fdl.html">GNU FDL</a> licenziją be invariantinių skyrių ir priekinio ar</p> 
            <p>užpakalinio viršelio tekstų. Visais klausimais kreipkitės: <a href="info@akl.lt">info@akl.lt.</a><p>
            </div>
        </div>
    </div>

    {% wagtailuserbar %}
</body>
</html>
