$border-radius: 5px;
$footer-color: #E6E6E6;
$menu-color: #E9EDEF;
$link-color: #be7f00;
$dark-link-color: #CBD5D9;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
       -moz-border-top-right-radius: $radius;
        -ms-border-top-right-radius: $radius;
            border-top-right-radius: $radius;
     -webkit-border-top-left-radius: $radius;
        -moz-border-top-left-radius: $radius;
         -ms-border-top-left-radius: $radius;
             border-top-left-radius: $radius;            
}

@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
       -moz-border-bottom-right-radius: $radius;
        -ms-border-bottom-right-radius: $radius;
            border-bottom-right-radius: $radius;
     -webkit-border-bottom-left-radius: $radius;
        -moz-border-bottom-left-radius: $radius;
         -ms-border-bottom-left-radius: $radius;
             border-bottom-left-radius: $radius;            
}

.contacts {
    background-color: white;
    border: 1px solid #EBEBEB;
    @include border-radius($border-radius);
    margin: 8px;
    padding: 14px;
    float: right;
    text-align: right;
    font-size: 12px;

    p {
        line-height: 18px;
        margin: 0;
        padding: 0;
    }
}


.top-row {
    text-align: right;
    padding-right: 20px;
    img {
        padding: 4px;
    }
}

.container {
    background-image: url(/static/images/headerbg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

.top-menu {
    padding-left: 0px;
    ul {
        background-color: #F8C400;
        @include border-radius($border-radius);
        background-image: url(/static/images/hand-trail.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        padding-top: 2px;
        li {
            padding-left: 8px;
            padding-right: 8px;
            a {
                padding: 6px 16px;
                padding-bottom: 8px;
                color: #4D4D4D;
                font-weight: bold;
                &:hover {
                    color: white;
                    background-color: transparent;
                    border-color: transparent;
                }
            }

            &.active, &.active:hover {
                background-color: transparent;
                border-color: transparent;
                a {
                    cursor: pointer;
                    background-color: white;
                }
            }
        }
    }
}

.content {
    border-left-style: solid;
    border-left-width: 1px;
    border-color: $menu-color;
    padding-left: 30px;
    margin-top: 25px;
    h4 {
        color: $link-color;
        }
    img {
        margin: 4px;
    }
    h4 {
        margin-top: 15px;
    }
    p {
        margin: 1px;
    }
    .left {
        float: left;
        margin-right: 1.5ex;
        margin-top: 0.5ex;
        margin-bottom: 0.5ex;
    }
    .right {
        float: right;
        margin-left: 1.5ex;
        margin-top: 0.5ex;
        margin-bottom: 0.5ex;
    }
}

.news-content {
    margin-left: 15px;
    h4 {
        a {
            color: $link-color;
        }
    }
}

.news-story {
    h1 {
        font-size: 24px;
        font-weight: bold;
    }
    p {
        padding-bottom: 10px;
    }
}

.footer {
    background-color: $footer-color;
    margin-bottom: 34px;
    margin-top: 192px;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    a {
        color: $link-color;
    }
    
    p {
        text-align: center;
        margin: 1px;  
    } 
}

.side-menu {
    margin-top: 20px;
    img {
        margin: 4px;
    }
    .sidebar-box {
        h3 {
            background-color: $menu-color;
            @include border-radius($border-radius);
        }
        .sidebar-content {
            @include border-radius($border-radius);
            border-style: solid;
            border-color: $menu-color;
            border-width: 1px;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            & > a:link {
                color: $link-color;
            }
        }
    }

    ul.depth-1 li a {
        padding-left: 10px;
    }

    ul.depth-2 li a {
        padding-left: 25px;
    }

    ul.depth-3 li a {
        padding-left: 35px;
        font-size: 12px;
    }

    ul.depth-4 li a {
        padding: 4px 10px;
        padding-left: 45px;
    }

    ul.depth-5 li a {
        padding-left: 55px;
    }
}

#first-nav-pill {
    background-color: $menu-color;
    @include border-top-radius($border-radius);
}

#last-nav-pill {
    background-color: $menu-color;
    @include border-bottom-radius($border-radius);
}

.newstory-submit {
    margin-top: 20px;
}

